/* Import some fonts */
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");

/* add color variables */
:root {
  
  --total-black: #0b0c10;
  --calm-teal: #45a29e;
  --yellow-light: #fbe8b3;
  --sea-serpent: #ebe3e3;
}

* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  height: 100vh;
  min-height: 120vh;
  width: 100vw;
}
/* center the container and imply margins */
#container {
  width: 90%;
  margin: auto;
  color: #333;
}

/* make the div with the id lists into a flex container */
#lists {
  display: flex;
  justify-content: space-around;
}
.listItems {
  z-index: 3;
  margin: 10px;
  padding: 5px;
  height: 50px;
  font-size: 2rem;
  background-color: #ffffff;
  color: #333;
  list-style: none;
  border-radius: 10px;
  /**/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.listItems:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* General style and a little bit responsive text  */


#remove {
  display: inline-block;
}
.title {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title div h4 {
  margin: 2px;
  font-size: 1.3rem;
  transform: rotate(40deg);
}
h1 {
  font-size: 7vw;
  color: var(--total-black);
  margin: 0;
}
img {
  width: 150px;
  height: 150px;
}

h2 {
  font-size: 2vw;
}

/* Modernize buttons and input */

#submit-btn {
  width: 200px;
  margin-bottom: 1em;
  padding: 1em 3em;
  border-radius: 0.5em;
}

#submit-btn:focus {
  outline: 0;
  animation: rotate-center 0.6s ease-in-out both;
}

input {
  width: 400px;
  padding: 1em;
  font-size: 1rem;
}

input:focus {
  outline: none;
  background: var(--total-black);
  color: white;
}

#lists button:hover,
button:hover {
  background: rgba(100, 100, 100, 0.2);
}

#lists button:focus {
  outline: 0;
  animation: jello-horizontal 0.9s both;
}

#lists button {
  background: inherit;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

/* make list containers flex */
#to-do-list,
#completed {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 1em;
}

.holdCompletedTasks,
.holdNewTasks {
  padding: 4px;
  height: 55vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.holdCompletedTasks:hover,
.holdNewTasks:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* style list items, common styles */
.to-do-item,
.done-item {
  margin: 0.5em;
  border-radius: 1em;
  animation: zoom-in 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  box-shadow: 2px 2px 4px gray;
}

/* Style list item specific to done-item */
.to-do-item {
  background: var(--calm-teal);
}

/* Style list item specific to done-item */
.done-item {
  background: var(--candy-pink);
}

/*/////////////////////////////
//        Footer                     
/////////////////////////////*/
svg {
  margin-bottom: -35px;
}
footer {
  width: 100vw;
  height: auto;
  padding: 50px;
  color: var(--sea-serpent);
  font-size: 1.3rem;
  letter-spacing: 4px;
  text-align: center;
  margin-top: auto;
  background-color: var(--total-black);
  z-index: 6;

}
footer img {
  width: 90px;
  height: auto;
}
footer span {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  font-size: 1.5rem;
  color: var(--yellow-light);
}
/* New item animation */
@keyframes zoom-in {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Spin Add button */
/* ----------------------------------------------
 * Generated by Animista on 2018-6-11 20:46:27
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Jello animate bthe items buttons */
/* ----------------------------------------------
 * Generated by Animista on 2018-6-11 20:51:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
